.main-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  width: 450px;

}

.item-div{
  width: 148px;
  height: 150px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
}